@charset "utf-8";
/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:#f0f0ed;
}
#header
{
 background:#25272a;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size:20px;
 text-align:center;
 line-height:50px;
 color:#FFFFFF;
}
#container
{
 margin-top:10px;
 width:299%;
 padding:5px;
}
#tit
{
 margin-top:5px;
 width:99%;
 font:tahoma;
 font-size:14px;
 text-align:center;
 color:#000000;
 font-weight:bold;
 text-decoration:underline;
}



#in_tit
{
width:48%;
float:left;
height:20px;

}
#out_tit
{
width:48%;
float:right;
height:20px;
}



#checkin
{
width:48%;
margin:5px;
float:left;
height:780px;
overflow: auto;
}
#checkout
{
width:48%;
margin:5px;
float:right;
height:780px;
overflow: auto;
direction:rtl; 
}

#checkin_box
{
  -moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px; /* for old Konqueror browsers */
background:#FFFFFF;
border: solid 1px #c9c9c9;
padding:5px;
margin-bottom:10px;
width:95%;
}

#checkout_box
{
  -moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px; /* for old Konqueror browsers */
background:#FFFFFF;
border: solid 1px #c9c9c9;
padding:5px;
margin-bottom:10px;
width:95%;
}


.img
{
  -moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px; /* for old Konqueror browsers */
border:solid 1px #CCCCCC;
  }
  
.name
{
 font-family:tahoma;
 font-size:24px;
 color:#9e0303;
 line-height:30px;
}
.normal_text
{
 font-family:tahoma;
 font-size:14px;
 color:#6e6e6e;
 line-height:30px;
}
.time
{
  font-family:tahoma;
 font-size:18px;
 color:#872301;
 line-height:30px;
 border-top:solid 1px #333333;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}