#lightbox {
	position: absolute;
	top: 0;
	
    left:10%;
	width: 1000px;
	height: auto;	
	background: #fff;
	z-index: 1001;
	display: none;
	padding:10px;
}
#lightbox-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 1000;
	display: none;
}